@import 'styles/variables.scss';
.aqui {
    width: 10px;
}
.projetos {

    &__botao {
        margin: 0 auto;
        display: block;
        border-radius: 10px;
        border-style: none;
        color: $fonteCor;
        margin-top: 1.5rem;
        padding: .7rem;
        box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.39);
        transition: 500ms ease-in-out;
        font-family: 'Cabin';
        font-weight: bold;
        &:hover {
            opacity: .7;
            cursor: pointer;
        }
    }
}
.lista {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    &__foto {
        height: 50%;
        overflow: hidden;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__item {
        width: 60vw;
        height: 23vh;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin: .4rem;
        box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.452);
        background-color: $fonteCor;
        overflow: hidden;
    }

    &__divisao {
        width: 100%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: flex-start;
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: .7rem;
        }
    }
    &__imagem {
        width: 100%;
    }
}