@import '../../styles/variables.scss';


.efeito {
    display: none;
    filter: drop-shadow(4px 4px 50px rgba(0, 0, 0, 0.315));
}
@media (min-width: $desktop) {
    
    .efeito {
        display: block;
        position: absolute;
        width: 40vw;
        max-width: 400px;
    }
    .efeito2 {
        bottom: -20%;
        z-index: -1;
        animation: levitation2 3s alternate infinite ease-in-out;
    }
    .efeito1 {
        top: -10%;
        right: -5%;
        z-index: -1;
        animation: levitation1 3s alternate infinite ease-in-out;
    }

    .div__salva {
        width: 80%;
    }

    @keyframes levitation1 {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-3%);
        }
    }
    @keyframes levitation2 {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(3%);
        }
    }
}


@keyframes efe1 {
    from {
        transform: translateY(0);
    } 
    to {
        transform: translateY(10%);
    }
}
@keyframes efe2 {
    from {
        transform: translateY(0);
    } 
    to {
        transform: translateY(-10%);
    }
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: .6rem 0 0 0.6rem;
    height: 3rem;
    margin: 0;
    &__menuicon {
        width: 3rem;
        &:hover{
            cursor: pointer;
        }
    }
}
.mydiv {
    width: 30vw;
    height: 50vw;
}
.nav {
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.514);
    color: $fonteClara;
    position: absolute;
    visibility: hidden;
    transition: 300ms ease-in-out;
    transform: scale(0);
    left: -80vw;
    width: 150vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 150vw;
    max-height: 1200px;
    top: -70vw;
    line-height: 2rem;
    z-index: 5;
    background-color: #1e1e1e;
    border-radius: 50%;
}

@media (min-width: $laptop) {
    .nav {
        left: -60vw;
        top: -50vw;
        width: 120vw;
        height: 120vw;
        justify-content: center;
        align-items: end;
    }
}

@media (min-width: 1100px) {
    .nav {
        left: -500px;
    }
}

.nav--aparecer {
    transform: scale(1);
    visibility: visible;
}

.lista {
    position: relative;
    width: 50vw;
    padding: 1rem;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.3rem;
    &__link {
        padding-left: 5px;
    }
    &__link--selecionado {
        border-left: $fonteClara solid 8px;
    }
}

@media (min-width: $laptop) {
    .lista {
        width: 40vw;
    }
}

li {
    transition: 300ms ease-in-out;
    &:hover {
        transform: scale(1.05);
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.363) ;
    }
}

a {
    color: $fonteClara;
    &:hover {
        text-decoration: none;
    }
}


.div {
    position: absolute;
    width: 100vw;
    transition: 300ms ease-in-out;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.div--aparecer {
    visibility: visible;
    opacity: 1;
}

.close {
    position: absolute;
    margin-top: 2rem;
    width: 40px;
}
