@import '../../styles/variables.scss';

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: .6rem 0 0 0.6rem;
    height: 3rem;
    margin: 0;
    &__menuicon {
        width: 3rem;
        &:hover{
            cursor: pointer;
        }
    }
}
.mydiv {
    width: 30vw;
    height: 50vw;
}
.nav {
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.514);
    color: $fonteClara;
    position: absolute;
    visibility: hidden;
    transition: 300ms ease-in-out;
    transform: scale(0);
    left: -80vw;
    width: 150vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 150vw;
    top: -70vw;
    line-height: 2rem;
    z-index: 5;
    background-color: #1e1e1e;
    border-radius: 50%;
}

.nav--aparecer {
    transform: scale(1);
    visibility: visible;
}

.lista {
    position: relative;
    width: 50vw;
    padding: 1rem;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.3rem;
    &__link {
        padding-left: 5px;
    }
    &__link--selecionado {
        border-left: $fonteClara solid 8px;
    }
}

li {
    transition: 300ms ease-in-out;
    &:hover {
        transform: scale(1.1);
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.363) ;
    }
}

a {
    color: $fonteClara;
    &:hover {
        text-decoration: none;
    }
}


.div {
    position: absolute;
    width: 100vw;
    transition: 300ms ease-in-out;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.div--aparecer {
    visibility: visible;
    opacity: 1;
}

.close {
    position: absolute;
    margin-top: 2rem;
    width: 40px;
}
