@import 'styles/variables.scss';
.sobre {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    justify-content: space-around;
    &__titulo {
        font-size: 1.5rem;
        color: $fonteCor;

    }
}

.informacoes {
    padding-left: 5vw;
    padding-top: 5vw;
    color: $fonteCor;
    &__titulo {
        font-size: 1.3rem;
    }
}

.whatsapp {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}