@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
@import-normalize;

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  background-image: url("assets/img/backgroundCopia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 769px) {
  body {
    background-image: url("assets/img/background-desktop.png");
  }
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #7e7e7e;  /* creates padding around scroll thumb */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


